.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 180vh;
  margin-top: 1.5rem;
  height: 75vh;

  h2 {
    align-self: center;
    margin-bottom: 1rem;
  }
  .iconSearch {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
  }
  .container_search_and_create {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;

    .search {
      display: flex;
      width: 300px;
      align-items: center;
      cursor: pointer;
    }
    .searchDate {
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    .inputSearch {
      outline: none;
      border: 1px solid #cdcdcd;
      width: 228px;
      height: 38px;
      padding-left: 10px;
      padding-right: 6px;
      font-size: 16px;
    }

    .btnHoje {
      background: #cdcdcd;
      border-radius: 4px;
      padding: 0.5rem;

      &:hover {
        cursor: pointer;
        background: #b8b8b8;
      }
    }

    .inputDate {
      padding: 0.4rem;
      border-radius: 6px;
      border: 1px solid #cdcdcd;
    }
  }

  .divCreates {
    display: flex;
    gap: 1rem;
  }
}

.divTable {
  overflow: auto;
  overflow-x: hidden;
  min-height: 25vh;
  height: 70vh;

  .iconCheck {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    color: #0d6efd;

    .iconCheckX {
      color: #fd0d0d;
      width: 3rem;
    }
  }

  .table {
    width: 170vh;
    border-spacing: 0 8px;
    text-align: center;

    thead {
      background-color: #cdcdcd;
      font-size: 18px;
      position: sticky;
      top: -1px;
      z-index: 1;

      :hover {
        background-color: #cdcdcd !important;
      }
    }

    .th_thead {
      width: 200px;
      text-align: center;
    }

    td,
    th {
      text-align: center;
      padding: 8px;
    }

    tr:hover {
      background-color: #bae5f5;
      cursor: pointer;
    }

    tr:nth-child(even) {
      background-color: #e9f3fa;

      &:hover {
        background-color: #bae5f5;
      }
    }
  }
}
