.container {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 50vh;
}

.divItens {
   display: flex;
   align-items: center;
   justify-content: center;
}
   
.spinner{
   color: #000;
}