.alert {
   background-color: #539e53;
   color: #fff;
   font-weight: bold;
   width: 15rem;
   height: 5rem;
   border-radius: 10px;
   display: flex;
   justify-content: center;
   text-align: center;
   align-items: center;
   margin-bottom: 2rem;
   position: absolute;
   top: 10%;
}
