.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 110vh;

  .divTable {
    padding: 1rem;

    .table {
      width: 100vh;
      border-spacing: 0 8px;
      text-align: center;

      td,
      th {
        text-align: center;
        padding: 10px;
      }

      .iconInfo {
        width: 1.5rem;
        height: 1.5rem;
        margin-bottom: 0.3rem;
      }
    }
  }
}
