

.patientSearch {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  z-index: 999;
}

.searchDropdown {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 20rem;
  overflow-y: auto;
  border: 1px solid #fff;
  box-shadow: 0 0 0.5rem #00000079;
  border-radius: 0.5rem;
  position: absolute;
  top: 100%; /* Coloca a dropdown abaixo do input */
  left: 0;
  z-index: 999;

  ul {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem 0;
  }

  li {
    width: 100%;
    list-style: none;
    padding: 0.5rem 0;
    border: 1px solid #c3c3c3;
    border-radius: 0.5rem;
    cursor: pointer;

    &:hover {
      background: #c3c3c38d;
    }

    .patientData{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 0.5rem;
      padding: 0 0.5rem;

      .patientName {
        font-weight: bold;
        width: 100%;
      }

      .patientAge {
        font-size: 0.8rem;
      }

      .patientTel {
        font-size: 0.8rem;
      }

      .patientCPF {
        font-size: 0.8rem;
      }
    }
  }
}
